__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
.env.*
.venv
venv
build
dist
.eggs
*.egg-info
.coverage
htmlcov
.cache
pytest_cache
__pypackages__
.DS_Store
.git
.gitignore
*.log
*.pot
*.mo
*.swp
*.bak
*.tmp
node_modules
supabase/
local_media/
docs/
scripts/
tests/
.pytest_cache/
.ruff_cache/
*.mp3
*.wav
*.ogg
*.jpg
*.jpeg
*.png
*.pdf
